
name: tests

on:
  push:
    paths-ignore:
      - '**/README.md'

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: |
          curl -sSL https://install.python-poetry.org | python - --version 1.3.1
          echo "PATH=${HOME}/.local/bin:${PATH}" >> $GITHUB_ENV
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: 'poetry'
      - run: |
          poetry env use "3.11"
          poetry install --no-root
      - name: Run Tests
        run: poetry run pytest -c pytest.ini